:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
  --background-color: #f5f4fa;
  --pharagraphe-color: #757575;
  --text-size: 14px;
  --logo-size: 26px;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
  display: flex;
  margin-right: 0px;
  color: var(--pharagraphe-color);
}

.header {
  width: 1600px;
  height: 80px;
  margin: 0 auto;
  padding: 24px 215px 25px;
  font-family: var(--main-font);
  font-style: normal;
  background-color: #ffffff;
  border: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  text-decoration: none;
  margin-right: 200px;
}

.logo {
  margin-right: 93px;
  font-weight: 700px;
  color: #000000;
  font-size: var(--logo-size);
  text-decoration: none;
  font-family: var(--secondary-color);
  padding: 0;
}

.logo-web {
  color: var(--accent-color);
  font-size: var(--logo-size);
}

.navigation-list {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-size);
  font-family: var(--main-font);
}

.navigation-item {
  margin-right: 50px;
  color: var(--primary-color);
}

.navigation-item-studia {
  color: var(--accent-color);
}

.navigation-item:last-child {
  margin-right: 0;
}

.body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

.hero {
  font-family: var(--text-size);
  font-size: 44px;
  background-color: var(--secondary-color);
  font-weight: 900;
  color: #ffffff;
  line-height: 60px;
}

.hero-btn {
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: "Roboto";
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

.hero-btn:hover {
  background-color: #188ce8;
  border-radius: none;
}

.hero-btn:focus {
  background-color: #188ce8;
}

.hero-title:hover {
  color: #ffffff;
  font-size: 44px;
  display: flex;
}

.link {
  text-decoration: none;
  font-family: inherit;
}
.navigation-link:active {
  color: var(--secondary-color);
}

.list {
  list-style: none;
}

.navigation-list {
  display: flex;
  list-style: none;
}

/* Main */
.feature {
}

.feature-title {
  font-family: var(--secondary-font);
}
